
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adapt a Puppy!</title>
  </head>
  <body>
    <form action="/display_puppy" method="post">
      Name: <input type="text" name="name">
      Breed: <input type="text" name="breed">
      Age: <input type="integer" name="age">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
